/**
 * mdm poster editer
 */
#app .editer-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
}
.editer-main {
    display: flex;
    height: calc(100vh - 70px);
    overflow: hidden;
}
.editer-main * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.mdm-nav-template {
    
}
.mdm-nav-template ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 260px;
    padding: 0 0 10px 6px;
}
.mdm-nav-template ul li {
    width: 124px;
    height: 195px;
    margin-top: 6px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}
.mdm-nav-template ul li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    transition: all .3s ease;
}
.mdm-nav-template ul li:hover::after {
    background-color: rgba(0, 0, 0, 0);
}

.mdm-nav-text {
    padding: 15px;
}
.mdm-nav-text > div {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    cursor: pointer;
}
.mdm-nav-text > div:hover {
    background: #eceef0;
}
.mdm-nav-text .title {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 60px;
}
.mdm-nav-text .content {
    font-size: 16px;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 36px;
}

.mdm-nav-upload {
    position: relative;
    height: 100%;
}
.mdm-nav-upload .content {
    position: relative;
    height: calc(100% - 45px);
    z-index: 1;
}
.mdm-nav-upload .content ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 260px;
    padding: 0 0 40px 6px;
}
.mdm-nav-upload .content ul li {
    position: relative;
    width: 124px;
    height: 124px;
    margin-top: 6px;
    background: center/contain no-repeat;
    cursor: pointer;
}
.mdm-nav-upload .content ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: all 0.3s ease;
}
.mdm-nav-upload .content ul li:hover::before {
    opacity: 0.1;
}
.mdm-nav-upload .content ul li:hover .icon {
    display: flex;
}
.mdm-nav-upload .content ul li .icon {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    color: #fff;
    background: #2f3c4d;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.mdm-list-status-infinite {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.mdm-list-status-infinite::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    border-bottom: 1px solid #ccd5db;
}
.mdm-list-status-infinite .text {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    background: #f7f8f9;
}


.mdm-right {
    flex: 1;
}


.mdm-right > .content {
    display: flex;
    position: relative;
    height: calc(100% - 48px);
}
.workspace {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    background: #eceef0;
    overflow: hidden;
}



.mdm-editor {
    position: absolute;
    background-color: #fff;
    z-index: 0;
}


.mdm-background {
    position: relative;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
    transform-origin: left top 0px;
}


.mdm-mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    outline: rgba(236, 238, 240, 0.9) solid 10000px;
    z-index: 1000;
    pointer-events: none;
}
.mdm-mask .shadow {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, .2) 0px 0px 5px 0px;
}


.mdm-elements {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    transform-origin: left top 0px;
}
.mdm-elements > div > * {
    word-wrap: break-word;
    box-sizing: unset;
    overflow: hidden;
}
.mdm-elements .edit-text {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    display: block;
    resize: none;
}
.mdm-elements .edit-text:focus {
    outline: none;
    box-shadow: 0 0 15px #1593ff;
}



.mdm-element-boxs {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}



.setting-box .name {
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: #4f5d69;
}
.setting-box .mdm-base-input {
    position: relative;
    font-size: 12px;
}
