/**
 * mdm poster editer
 */
.editer-main {
    display: flex;
    height: calc(100vh - 70px);
    overflow: hidden;
}
.editer-main * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.mdm-nav-template {
    
}
.mdm-nav-template ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;
}
.mdm-nav-template ul li {
    width: 124px;
    height: 195px;
    margin-top: 6px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}
.mdm-nav-template ul li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    transition: all .3s ease;
}
.mdm-nav-template ul li:hover::after {
    background-color: rgba(0, 0, 0, 0);
}

.mdm-nav-text {
    padding: 15px;
}
.mdm-nav-text > div {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    cursor: pointer;
}
.mdm-nav-text > div:hover {
    background: #eceef0;
}
.mdm-nav-text .title {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 60px;
}
.mdm-nav-text .content {
    font-size: 16px;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 36px;
}

.mdm-nav-upload {
    padding: 15px;
}



.mdm-right {
    flex: 1;
}



.mdm-right > .content {
    display: flex;
    position: relative;
    height: calc(100% - 48px);
}
.mdm-right > .content .workspace {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    background: #eceef0;
    overflow: hidden;
}



.workspace .mdm-editor {
    position: absolute;
    background-color: #fff;
    z-index: 0;
}

.workspace .mdm-background {
    position: relative;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
    transform-origin: left top 0px;
}

.workspace .mdm-mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    outline: rgba(236, 238, 240, 0.9) solid 10000px;
    z-index: 1000;
    pointer-events: none;
}
.workspace .mdm-mask .shadow {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, .2) 0px 0px 5px 0px;
}


.workspace .mdm-elements {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    transform-origin: left top 0px;
}
.workspace .mdm-elements > div > * {
    word-wrap: break-word;
    box-sizing: unset;
    overflow: hidden;
}
.workspace .mdm-elements .edit-text {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    display: block;
    resize: none;
}
.workspace .mdm-elements .edit-text:focus {
    outline: none;
    box-shadow: 0 0 15px #1593ff;
}


.workspace .mdm-element-boxs {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}



.setting-box .name {
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: #4f5d69;
}

.setting-box .mdm-base-input {
    position: relative;
    font-size: 12px;
}

/* 加载字体 */
@font-face {
    font-family: fangzheng_ssjt;
    src: url(../fonts/fangzheng_ssjt.woff?gj9y5y) format("woff");
}
@font-face {
    font-family: fangzheng_ktjt;
    src: url(../fonts/fangzheng_ktjt.woff?gj9y5y) format("woff");
}
@font-face {
    font-family: fangzheng_htjt;
    src: url(../fonts/fangzheng_htjt.woff?gj9y5y) format("woff");
}
@font-face {
    font-family: Zhengqingkehuangyouti;
    src: url(../fonts/Zhengqingkehuangyouti.woff?gj9y5y) format("woff");
}
@font-face {
    font-family: Zhankukuaileti;
    src: url(../fonts/Zhankukuaileti.woff?gj9y5y) format("woff");
}
@font-face {
    font-family: Zhankuwenyiti;
    src: url(../fonts/Zhankuwenyiti.woff?gj9y5y) format("woff");
}
@font-face {
    font-family: Zhankugaoduanhei;
    src: url(../fonts/Zhankugaoduanhei.woff?gj9y5y) format("woff");
}
@font-face {
    font-family: Zhankukuhei;
    src: url(../fonts/Zhankukuhei.woff?gj9y5y) format("woff");
}
@font-face {
    font-family: ZhankuxiaoweiLOGOti;
    src: url(../fonts/ZhankuxiaoweiLOGOti.woff?gj9y5y) format("woff");
}
@font-face {
    font-family: Yangrendongzhushiticu;
    src: url(../fonts/Yangrendongzhushiticu.woff?gj9y5y) format("woff");
}
@font-face {
    font-family: Yangrendongzhushiti;
    src: url(../fonts/Yangrendongzhushiti.woff?gj9y5y) format("woff");
}
@font-face {
    font-family: Yangrendongzhushitixi;
    src: url(../fonts/Yangrendongzhushitixi.woff?gj9y5y) format("woff");
}
@font-face {
    font-family: Pangmenzhengdaobiaotiti;
    src: url(../fonts/Pangmenzhengdaobiaotiti.woff?gj9y5y) format("woff");
}
@font-face {
    font-family: Arual;
    src: url(../fonts/Arual.woff?gj9y5y) format("woff");
}
